@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular");
@import url("https://fonts.googleapis.com/css?family=Manrope:200,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,700");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icon.woff2") format("woff2"), url("../font/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-facebook:before {
  content: "\e901";
}

._icon-inst:before {
  content: "\e902";
}

._icon-star:before {
  content: "\e903";
}

._icon-twiter:before {
  content: "\e904";
}

._icon-youtube:before {
  content: "\e905";
}

._icon-arrow-small:before {
  content: "\ea50";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  color: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Rubik";
  position: relative;
}
body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1390px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  overflow: hidden;
  background-color: #181818;
}

.logo a {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 122%;
  text-transform: capitalize;
}
.title span {
  color: #AE76FF;
  font-size: inherit;
}
@media (max-width: 880px) {
  .title {
    font-size: 35px;
  }
}
@media (max-width: 470px) {
  .title {
    font-size: 30px;
  }
}

.text {
  color: #D3D3D3;
  font-weight: 300;
  line-height: 28px;
}
@media (max-width: 500px) {
  .text {
    font-size: 15px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  z-index: 3;
}
.header__container {
  min-height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.menu__list {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 15px;
  flex-wrap: wrap;
  column-gap: 45px;
}
@media (max-width: 1350px) {
  .menu__list {
    -moz-column-gap: calc(15px + 30 * (100vw - 320px) / 1030);
         column-gap: calc(15px + 30 * (100vw - 320px) / 1030);
  }
}
.menu__link {
  font-family: Montserrat;
  transition: all 300ms ease-in-out;
}
.menu__link:hover {
  color: #AE76FF;
}

.promo {
  background: url("../../img/main-bg.png");
  position: relative;
}
.promo::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 4;
  background-color: rgb(24, 24, 24);
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.7721463585) 55%, rgba(24, 24, 24, 0.8197654062) 66%, rgb(24, 24, 24) 100%);
  pointer-events: none;
}
.promo__container {
  max-width: 800px;
  padding: 140px 20px;
}
.promo__content {
  text-align: center;
}
.promo__title {
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  line-height: 122%;
  text-transform: capitalize;
  margin-bottom: 11px;
}
@media (max-width: 800px) {
  .promo__title {
    font-size: 35px;
  }
}
@media (max-width: 500px) {
  .promo__title {
    font-size: 28px;
  }
}
.promo__button {
  margin-top: 35px;
}
.promo__button a {
  color: #AE76FF;
  font-weight: 500;
  padding: 15px 30px;
  border-radius: 10px;
  border: 1px solid #AE76FF;
  transition: all 300ms ease-in-out;
}
.promo__button a:hover {
  color: #fff;
  background-color: #AE76FF;
}

.info__container {
  padding-top: 120px;
}
@media (max-width: 1350px) {
  .info__container {
    padding-top: calc(40px + 80 * (100vw - 320px) / 1030);
  }
}
.info__items {
  margin-top: 40px;
  row-gap: 40px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}
@media (max-width: 1350px) {
  .info__items {
    margin-top: calc(20px + 20 * (100vw - 320px) / 1030);
  }
}
@media (max-width: 1350px) {
  .info__items {
    row-gap: calc(20px + 20 * (100vw - 320px) / 1030);
  }
}
.info__item {
  padding: 20px;
  flex: 0 1 48%;
  border: 1px solid #AE76FF;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  display: grid;
  grid-template-rows: auto 0fr;
  row-gap: 0;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
.info__item:hover {
  background-color: #AE76FF;
}
.info__item:hover .info__icon::before {
  color: #fff;
}
.info__item:hover .info__question {
  color: #fff;
}
@media (max-width: 640px) {
  .info__item {
    flex: 0 1 100%;
  }
}
.info__header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.info__question {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #AE76FF;
  transition: all 300ms ease-in-out;
}
.info__icon::before {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-180deg) translate(0, 8px);
  color: #AE76FF;
  font-size: 35px;
  transition: all 300ms ease-in-out;
}
.info__text {
  font-size: 18px;
  line-height: 140%;
  overflow: hidden;
}
@media (max-width: 640px) {
  .info__text {
    font-size: 16px;
  }
}

.active {
  grid-template-rows: auto 1fr;
  row-gap: 12px;
}

.info__item.active {
  background-color: #AE76FF;
}
.info__item.active .info__icon::before {
  transform: rotate(0deg);
  color: #fff;
}
.info__item.active .info__question {
  color: #fff;
}

.footer {
  background: inherit;
  position: relative;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  z-index: 4;
  background-color: rgb(24, 24, 24);
  background: linear-gradient(0deg, rgba(24, 24, 24, 0) 0%, rgba(24, 24, 24, 0.7721463585) 55%, rgba(24, 24, 24, 0.8197654062) 66%, rgb(24, 24, 24) 100%);
  pointer-events: none;
}
.footer::after {
  content: "";
  background: url("../../img/main-bg.png");
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.footer__container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
  flex-wrap: wrap;
  padding: 50px 20px;
}
.footer__socials {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  row-gap: 25px;
}
@media (max-width: 1350px) {
  .footer__socials {
    margin-bottom: calc(20px + 30 * (100vw - 320px) / 1030);
  }
}
@media (max-width: 1350px) {
  .footer__socials {
    row-gap: calc(15px + 10 * (100vw - 320px) / 1030);
  }
}
.footer__follow {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 166.6666666667%;
}
.footer__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-left: -12px;
}
.footer__link {
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.footer__link:hover {
  background-color: #AE76FF;
}