@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icon.woff2") format("woff2"), url("../font/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Wide;
  font-display: swap;
  src: url("../fonts/hkgroteskwide-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-discord:before {
  content: "\e900";
  color: #575757;
}

._icon-facebook:before {
  content: "\e901";
  color: #575757;
}

._icon-in:before {
  content: "\e902";
  color: #575757;
}

._icon-instagram:before {
  content: "\e903";
  color: #575757;
}

._icon-spot:before {
  content: "\e904";
  color: #575757;
}

._icon-telegram:before {
  content: "\e905";
  color: #575757;
}

._icon-tik-tok:before {
  content: "\e906";
  color: #575757;
}

._icon-twiter:before {
  content: "\e907";
  color: #575757;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Lato";
  position: relative;
  background: rgb(242, 254, 255);
}
body.lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1208px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.header {
  position: relative;
}
.header__blur {
  filter: blur(120px);
  background: rgba(35, 163, 255, 0.2);
  position: absolute;
  top: -100px;
  left: 600px;
  width: 630px;
  height: 630px;
}
.header__container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__more {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}
.header__more::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 300ms ease-in-out;
  border-radius: 12px;
}
.header__more:hover::before {
  left: 0;
}
.header__more:active {
  transform: translate(0, 3px);
}
.header__link {
  font-size: 20px;
  position: relative;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
  border: 1px black solid;
  padding: 16px 44px;
  border-radius: 12px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
@media (max-width: 490px) {
  .header__link {
    padding: 12px 30px;
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .header__link {
    padding: 10px 20px;
    font-size: 16px;
  }
}
.header__link:hover {
  color: #fff;
  background: inherit;
}
.header__icon {
  display: none;
}
@media (max-width: 820px) {
  .header__icon {
    display: block;
    cursor: pointer;
    display: block;
    height: 20px;
    width: 30px;
    position: relative;
    z-index: 600;
  }
  .header__icon span {
    background-color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
    height: 1px;
    transition: 0.5s;
  }
  .header__icon::after, .header__icon::before {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 1px;
    transition: 0.5s;
  }
  .header__icon::before {
    top: 0;
    left: 0;
  }
  .header__icon::after {
    bottom: 0;
    left: 0;
  }
  .header__icon._active span {
    scale: 0;
  }
  .header__icon._active::before {
    background-color: #fff;
    top: 10px;
    transform: rotate(45deg);
  }
  .header__icon._active::after {
    background-color: #fff;
    bottom: 9px;
    transform: rotate(-45deg);
  }
}

@media (max-width: 820px) {
  .menu {
    opacity: 0;
    padding-top: 50px;
    top: -100%;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5647058824);
    overflow: auto;
    padding-bottom: 30px;
    transition: all 300ms ease-in-out;
    z-index: 500;
  }
  .menu._active {
    opacity: 1;
    top: 0;
  }
}
.menu__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  flex-wrap: wrap;
  row-gap: 15px;
}
@media (max-width: 820px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
  }
}
.menu__item {
  text-transform: capitalize;
  position: relative;
  transition: all 300ms ease-in-out;
}
.menu__item:after {
  content: "";
  background-color: #000;
  width: 0%;
  height: 1px;
  bottom: -3px;
  position: absolute;
  left: 0;
  transition: all 300ms ease-in-out;
}
.menu__item:hover::after {
  width: 100%;
}
.menu__item:active {
  transform: translate(0, 3px);
}
.menu__link {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
@media (max-width: 820px) {
  .menu__link {
    color: #fff;
    font-size: 30px;
  }
}

.page {
  padding-bottom: 120px;
}
@media (max-width: 600px) {
  .page {
    padding-bottom: 50px;
  }
}
.page__main {
  margin-top: 80px;
  min-height: 100vh;
}
@media (max-width: 998px) {
  .page__main {
    margin-top: 20px;
  }
}

.main {
  position: relative;
}
.main__blur {
  filter: blur(120px);
  background: rgba(177, 250, 255, 0.5);
  position: absolute;
  width: 669px;
  height: 235px;
  top: -50px;
  left: 0;
}
.main__container {
  display: flex;
}
@media (max-width: 998px) {
  .main__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
  }
}

@media (max-width: 998px) {
  .left-main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.left-main__title {
  font-family: Poppins;
  font-size: 80px;
  font-weight: 600;
  line-height: 130%;
  text-transform: capitalize;
  margin-bottom: 7vh;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
@media (max-width: 998px) {
  .left-main__title {
    text-align: center;
  }
}
.left-main__title span {
  color: rgb(51, 91, 233);
  font-family: Poppins;
  font-size: 80px;
  font-weight: 600;
  line-height: 130%;
  text-transform: capitalize;
}
@media (max-width: 735px) {
  .left-main__title {
    font-size: 50px;
  }
  .left-main__title span {
    font-size: 50px;
  }
}
.left-main__buttons {
  position: relative;
  z-index: 20;
  margin-bottom: 10vh;
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 15px;
  flex-wrap: wrap;
}
@media (max-width: 592px) {
  .left-main__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  .left-main__buttons .left-main__botton {
    padding: 14px 32px;
    font-size: 18px;
    background-color: #000;
    color: #FFF;
  }
  .left-main__buttons .left-main__botton svg path {
    fill: #fff;
  }
}
.left-main__botton {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  padding: 18px 44px;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  transition: all 300ms ease-in-out;
}
.left-main__botton:active {
  transform: translate(0, 3px);
}
.left-main__botton svg path {
  transition: all 300ms ease-in-out;
}
.left-main__botton:hover {
  color: #FFF;
  background: rgb(0, 0, 0);
}
.left-main__botton:hover svg path {
  fill: #fff;
}
.left-main__info {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  margin-bottom: 10vh;
}
@media (max-width: 998px) {
  .left-main__info {
    justify-content: center;
  }
}
@media (max-width: 430px) {
  .left-main__info {
    margin-bottom: 3vh;
  }
}
.left-main__support {
  display: flex;
  -moz-column-gap: 13px;
       column-gap: 13px;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 998px) {
  .left-main__support {
    justify-content: center;
  }
}
.left-main__text {
  color: rgb(41, 41, 41);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.info-left-main__column {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  border: 1px solid rgb(249, 249, 249);
  padding: 24px 16px 24px 16px;
  flex: 0 1 200px;
  row-gap: 8px;
}
@media (max-width: 998px) {
  .info-left-main__column {
    flex: 0 1 auto;
  }
}
.info-left-main__title {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: capitalize;
}
.info-left-main__text {
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-transform: capitalize;
}

.left-main-second {
  color: rgb(109, 109, 109);
  font-size: 19px;
}

.left-main-thirsd {
  font-weight: 600;
  color: rgb(109, 109, 109);
  font-size: 21px;
}

.left-main-fourtht {
  color: rgb(109, 109, 109);
  font-size: 20px;
  font-weight: 400;
}

.main__right {
  margin-left: 100px;
}
@media (max-width: 998px) {
  .main__right {
    margin-left: 0;
  }
}

.right-main {
  flex: 0 0 316px;
}
@media (max-width: 998px) {
  .right-main {
    display: flex;
    justify-content: center;
  }
}
.right-main__blur {
  position: absolute;
}
.right-main__phone {
  background: url("../../img/main-page/tel.svg");
  background-size: no-repeat;
  border-radius: 50px;
  position: relative;
  padding: 10px 10px 10px 10px;
  width: 100%;
  z-index: 5;
}
.right-main__phone._active {
  z-index: 0;
}
@media (max-width: 998px) {
  .right-main__phone {
    flex: 0 0 316px;
  }
}
.right-main__content {
  -webkit-backdrop-filter: blur(16.7px);
          backdrop-filter: blur(16.7px);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  min-height: 100%;
  z-index: 5;
  position: relative;
}
.right-main__info {
  padding: 52px 35px 0px 35px;
  margin-bottom: 103px;
}
@media (max-width: 430px) {
  .right-main__info {
    margin-bottom: 50px;
  }
}
.right-main__logo {
  margin-bottom: 40px;
}
.right-main__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.right-main__title span {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-transform: capitalize;
}
.right-main__text {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-transform: capitalize;
}
.right-main__buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 60px;
  row-gap: 16px;
}
@media (max-width: 430px) {
  .right-main__buttons {
    padding-bottom: 35px;
  }
}
.right-main__sign {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(33, 129, 159, 0.5);
  background: rgb(255, 255, 255);
  color: #000;
  transition: all 300ms ease-in-out;
}
.right-main__sign:hover {
  background: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
}
.right-main__sign:active {
  transform: translate(0, 3px);
}
.right-main__more {
  color: #000;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(30, 103, 213, 0.25);
  background: rgb(255, 255, 255);
  padding: 18px 44px;
  transition: all 300ms ease-in-out;
}
.right-main__more:hover {
  background: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
}
.right-main__more:active {
  transform: translate(0, 3px);
}
.right-main__google {
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px rgba(34, 94, 167, 0.3);
  background: rgb(255, 255, 255);
  padding: 18px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease-in-out;
}
.right-main__google:hover {
  background: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
}
.right-main__google:active {
  transform: translate(0, 3px);
}
.right-main__message {
  position: absolute;
  top: 58px;
  left: 154px;
  z-index: 6;
}
@media (max-width: 530px) {
  .right-main__message {
    display: none;
  }
}
.right-main__widget {
  position: absolute;
  top: 212px;
  left: -135px;
  z-index: 6;
}
@media (max-width: 530px) {
  .right-main__widget {
    display: none;
  }
}
.right-main__card {
  position: absolute;
  top: 325px;
  left: 188px;
  z-index: 6;
}
@media (max-width: 530px) {
  .right-main__card {
    display: none;
  }
}

._green {
  top: 228px;
  left: -60px;
  z-index: 0;
}

._blue {
  top: 90px;
  left: -65px;
  z-index: 0;
}

.slider-main {
  padding-top: 200px;
}
@media (max-width: 992px) {
  .slider-main {
    padding-top: 100px;
  }
}
.slider-main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 682px;
  text-align: center;
  row-gap: 35px;
  margin-bottom: 88px;
}
@media (max-width: 735px) {
  .slider-main__container {
    margin-bottom: 30px;
  }
}
.slider-main__title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
@media (max-width: 735px) {
  .slider-main__title {
    font-size: 40px;
  }
}
.slider-main__button {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  transition: all 300ms ease-in-out;
}
.slider-main__button::before {
  content: "";
  background-color: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 300ms ease-in-out;
  border-radius: 12px;
}
.slider-main__button:hover::before {
  left: 0;
}
.slider-main__button:active {
  transform: translate(0, 3px);
}
.slider-main__button a {
  font-size: 20px;
  position: relative;
  text-transform: capitalize;
  color: black;
  font-weight: 700;
  border: 1px black solid;
  padding: 16px 44px;
  border-radius: 12px;
  overflow: hidden;
  transition: all 300ms ease-in-out;
}
@media (max-width: 490px) {
  .slider-main__button a {
    padding: 12px 30px;
    font-size: 16px;
  }
}
@media (max-width: 390px) {
  .slider-main__button a {
    padding: 10px 20px;
    font-size: 16px;
  }
}
.slider-main__button a:hover {
  color: #fff;
  background: inherit;
}

.main-slider__background {
  position: absolute;
  width: 357px;
  height: 209.87px;
  transform: rotate(174.85deg);
  filter: blur(75px);
  background: rgba(174, 250, 255, 0.6);
  top: 130px;
  left: 200px;
}
.main-slider__background-2 {
  position: absolute;
  width: 357px;
  height: 209.87px;
  top: 150px;
  right: 250px;
  transform: rotate(17.09deg);
  filter: blur(75px);
  background: rgba(174, 255, 221, 0.6);
}
.main-slider__container {
  z-index: 10;
  min-width: 100%;
  padding: 0;
  margin: auto;
  position: relative;
}
.main-slider__wrapper {
  display: flex;
  min-width: 100%;
}
.main-slider__slide {
  border: 0.5px solid rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.2);
  flex: 0 0 27%;
  padding: 30px;
}
@media (max-width: 992px) {
  .main-slider__slide {
    flex: 0 0 40%;
  }
}
@media (max-width: 748px) {
  .main-slider__slide {
    flex: 0 0 60%;
  }
}
@media (max-width: 458px) {
  .main-slider__slide {
    flex: 0 0 80%;
  }
}
.main-slider__slide.swiper-slide-active {
  background: #fff;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  transition: all 300ms ease-in-out;
}
.main-slider__slide.swiper-slide-active .main-slider__num {
  background-color: rgb(14, 14, 14);
}
.main-slider__slide.swiper-slide-active .main-slider__num span {
  color: rgb(247, 247, 247);
}
.main-slider__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 21px;
  border-bottom: 1px solid rgb(190, 190, 190);
}
.main-slider__num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 150px;
  transition: all 300ms ease-in-out;
}
.main-slider__num span {
  font-size: 18px;
  font-family: Lato;
  font-weight: 600;
  line-height: 22px;
  color: #000;
  padding: 8px 20px 8px 20px;
}
@media (max-width: 748px) {
  .main-slider__num span {
    font-size: 14px;
    padding: 6px 15px;
  }
}
.main-slider__social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.main-slider__social a::before {
  font-size: 20px;
  padding: 7px;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.main-slider__social a:hover::before {
  color: #fff;
  background-color: #000;
}
.main-slider__main {
  padding: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-slider__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
}
.main-slider__image img {
  height: 100%;
  width: auto;
}
@media (max-width: 748px) {
  .main-slider__image {
    width: 100px;
    height: 100px;
  }
}
.main-slider__name {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  text-transform: capitalize;
  margin-top: 24px;
}
@media (max-width: 748px) {
  .main-slider__name {
    font-size: 19px;
  }
}
.main-slider__subscribes {
  color: rgb(95, 95, 95);
  font-family: Lato;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 14px;
}
.main-slider__nav {
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  cursor: pointer;
}
@media (max-width: 735px) {
  .main-slider__nav {
    margin-top: 25px;
  }
}
.main-slider__prev {
  max-width: 20px;
  transform: rotate(90deg);
}
.main-slider__prev img {
  transition: all 300ms ease-in-out;
  max-width: 100%;
}
.main-slider__prev img:hover {
  transform: scale(1.2);
}
.main-slider__next {
  max-width: 20px;
  transform: rotate(-90deg);
}
.main-slider__next img {
  transition: all 300ms ease-in-out;
  max-width: 100%;
}
.main-slider__next img:hover {
  transform: scale(1.2);
}

.infinite__container {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
  align-items: center;
  padding-top: 168px;
}
@media (max-width: 992px) {
  .infinite__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .infinite__container {
    flex-direction: column-reverse;
    row-gap: 20px;
    padding-top: 80px;
  }
}
.infinite__img {
  flex: 0 1 40%;
}
.infinite__img img {
  min-width: 100%;
}
.infinite__content {
  max-width: 600px;
}
.infinite__title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
}
@media (max-width: 735px) {
  .infinite__title {
    font-size: 40px;
  }
}
@media (max-width: 584px) {
  .infinite__title {
    text-align: center;
  }
}
.infinite__text {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  text-transform: capitalize;
  margin-top: 50px;
}
@media (max-width: 735px) {
  .infinite__text {
    font-size: 15px;
    margin-top: 25px;
  }
}
@media (max-width: 584px) {
  .infinite__text {
    text-align: center;
  }
}

.page__interact {
  position: relative;
  z-index: 10;
}

.interact__container {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 1068px) {
  .interact__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .interact__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .interact__container {
    padding-top: 80px;
  }
}
.interact__title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  max-width: 500px;
}
@media (max-width: 1068px) {
  .interact__title {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .interact__title {
    font-size: 30px;
  }
}
.interact__body {
  display: inline-grid;
  grid-template-columns: minmax(200px, 300px) minmax(200px, 300px);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "map privacy" "map wallet" "dashboard wallet";
  gap: 25px;
}
@media (max-width: 579px) {
  .interact__body {
    gap: 10px;
  }
}
@media (max-width: 479px) {
  .interact__body {
    justify-content: center;
    align-items: center;
    grid-template-columns: 80%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "map" "privacy" "wallet" "dashboard";
  }
}

.item-interact {
  transition: all 300ms ease-in-out;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.item-interact__header {
  padding: 20px;
}
.item-interact__icon {
  width: 24px;
}
.item-interact__icon img {
  min-width: 100%;
}
.item-interact__content {
  padding: 25px;
}
.item-interact__title {
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 145%;
  text-transform: capitalize;
}
.item-interact__text {
  color: rgb(242, 242, 242);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 125%;
  margin-top: 5px;
}
.item-interact__day {
  position: relative;
}
.item-interact__day._active .item-interact__menu {
  opacity: 1;
  top: 40px;
  visibility: visible;
}
.item-interact__menu {
  position: absolute;
  top: 0px;
  left: -10px;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 15px;
  background-color: #fff;
  opacity: 0;
  transition: all 300ms ease-in-out;
  visibility: hidden;
}

.item-interact-map {
  background: url("../img/interact/map.jpeg");
  background-size: cover;
  grid-area: map;
}
.item-interact-map .item-interact__content {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background: rgba(25, 21, 52, 0.3);
}

.item-interact-privacy {
  background: rgb(117, 115, 245);
  grid-area: privacy;
}

.item-interact-dashboard {
  background: rgb(138, 213, 255);
  grid-area: dashboard;
}
.item-interact-dashboard .item-interact__title {
  color: rgb(20, 20, 20);
}
.item-interact-dashboard .item-interact__text {
  color: rgb(20, 20, 20);
}

.item-interact-wallet {
  opacity: 0;
  visibility: hidden;
}

.item-interact-wallet._active {
  background: rgb(164, 247, 232);
  grid-area: wallet;
  opacity: 1;
  visibility: visible;
}
.item-interact-wallet._active .item-interact__title {
  color: rgb(20, 20, 20);
}
.item-interact-wallet._active .item-interact__text {
  color: rgb(20, 20, 20);
}
.item-interact-wallet._active .item-interact__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 32px;
}
.item-interact-wallet._active .item-interact__day {
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  line-height: 145%;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 6px;
       column-gap: 6px;
  padding: 4px 12px;
  border: 0.5px solid rgb(106, 170, 124);
  border-radius: 100px;
}
.item-interact-wallet._active .item-interact__day::after {
  content: "";
  width: 7px;
  height: 13px;
  display: block;
  background: url("../img/main-slider/row-right.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  transition: all 300ms ease-in-out;
}
.item-interact-wallet._active .item-interact__day._active::after {
  transform: rotate(-90deg);
}
.item-interact-wallet._active .item-interact__price {
  flex: 0 0 100%;
}
.item-interact-wallet._active .item-interact__balance {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  line-height: 6px;
  letter-spacing: 0%;
  text-align: left;
}
.item-interact-wallet._active .item-interact__num {
  color: rgb(0, 0, 0);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 10px;
}
.item-interact-wallet._active .item-interact__line {
  min-width: 100%;
}
.item-interact-wallet._active .item-interact__line img {
  min-width: 100%;
  height: auto;
}

.companies__container {
  position: relative;
  padding-top: 256px;
}
@media (max-width: 992px) {
  .companies__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .companies__container {
    padding-top: 80px;
  }
}
.companies__blur {
  position: absolute;
  z-index: 0;
  width: 1000px;
  height: 1000px;
  filter: blur(300px);
  background: rgb(233, 222, 255);
  right: -200px;
  top: 0px;
}
.companies__title {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-transform: capitalize;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 735px) {
  .companies__title {
    font-size: 40px;
  }
}
.companies__items {
  margin-top: 40px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.companies__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 33.333%;
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.2);
  min-height: 200px;
}
@media (max-width: 500px) {
  .companies__item {
    flex: 0 1 50%;
  }
}
.companies__name {
  font-size: 30px;
  font-weight: 600;
}
@media (max-width: 777px) {
  .companies__name {
    font-size: 20px;
  }
}

.advisors {
  position: relative;
  z-index: 20;
}
.advisors__container {
  padding-top: 256px;
}
@media (max-width: 992px) {
  .advisors__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .advisors__container {
    padding-top: 80px;
  }
}
.advisors__title {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 735px) {
  .advisors__title {
    font-size: 40px;
  }
}
.advisors__items {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
@media (max-width: 843px) {
  .advisors__items {
    justify-content: space-around;
    row-gap: 15px;
  }
}
@media (max-width: 606px) {
  .advisors__items {
    row-gap: 0;
  }
}
.advisors__blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 500.5px;
  filter: blur(85px);
  background: rgba(170, 240, 255, 0.3);
}
.advisors__blur2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 700.5px;
  height: 422px;
  filter: blur(85px);
  background: rgba(170, 255, 224, 0.3);
}
.advisors__item {
  flex: 0 1 25%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(14px);
          backdrop-filter: blur(14px);
  background: rgba(255, 255, 255, 0.3);
  padding: 16px 16px 16px 20px;
}
@media (max-width: 843px) {
  .advisors__item {
    flex: 0 1 40%;
  }
}
@media (max-width: 606px) {
  .advisors__item {
    flex: 0 1 50%;
  }
}
@media (max-width: 515px) {
  .advisors__item {
    flex: 0 1 100%;
  }
}

.item-advisors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-advisors__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.item-advisors__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-advisors__name {
  margin-top: 10px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  text-transform: capitalize;
}
.item-advisors__experience {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
}
.item-advisors__experience span {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  position: relative;
  padding-left: 15px;
}
.item-advisors__experience span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  z-index: 25;
}
@media (max-width: 606px) {
  .item-advisors__experience {
    max-height: 200px;
    overflow: auto;
  }
}
.item-advisors__link {
  margin-top: 26px;
  display: flex;
  gap: 10px;
}
.item-advisors__link a {
  display: flex;
  align-items: center;
  position: relative;
  -moz-column-gap: 20px;
       column-gap: 20px;
  color: rgb(51, 51, 51);
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
  text-transform: lowercase;
  transition: all 300ms ease-in-out;
}
.item-advisors__link a::after {
  content: "";
  background: #000;
  width: 0%;
  height: 1px;
  position: absolute;
  bottom: -3px;
  left: 0px;
  transition: all 300ms ease-in-out;
}
.item-advisors__link a:hover::after {
  width: 100%;
}
.item-advisors__link a:active {
  transform: translate(0, 2px);
}

.team__container {
  padding-top: 200px;
  position: relative;
  z-index: 10;
}
@media (max-width: 992px) {
  .team__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .team__container {
    padding-top: 80px;
  }
}
.team__blur {
  filter: blur(150px);
  background: rgba(60, 208, 240, 0.2);
  width: 1200px;
  height: 600px;
  position: absolute;
  top: 200px;
  left: 0;
}
.team__title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 735px) {
  .team__title {
    font-size: 40px;
  }
}
.team__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}
@media (max-width: 532px) {
  .team__items {
    flex-direction: column;
    row-gap: 40px;
  }
}
.team__item {
  flex: 0 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
@media (max-width: 532px) {
  .team__item {
    flex-direction: row;
    justify-content: center;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.team__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.team__icon img {
  max-width: 100%;
}
@media (max-width: 773px) {
  .team__icon {
    max-width: 100px;
  }
}
.team__prof {
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
  text-transform: uppercase;
}
.team__name {
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  line-height: 12px;
  text-transform: capitalize;
  color: #000;
  position: relative;
}
.team__name::after {
  content: "";
  width: 0%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 0;
  bottom: -7px;
  transition: all 300ms ease-in-out;
}
.team__name:hover::after {
  width: 100%;
}
.team__social {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-top: 5px;
}
.team__icon {
  font-size: 20px;
}
.team__icon::before {
  padding: 8px;
  transition: all 300ms ease-in-out;
  border-radius: 50%;
}
.team__icon:hover::before {
  color: #fff;
  background-color: #000;
}

.explore__container {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 64px;
  background: url(../img/explore/bg.png) no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 170px;
  padding-bottom: 175px;
}
@media (max-width: 861px) {
  .explore__container {
    margin-top: 100px;
  }
}
@media (max-width: 568px) {
  .explore__container {
    margin-top: 65px;
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
@media (max-width: 460px) {
  .explore__container {
    row-gap: 30px;
  }
}
.explore__title {
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 80px;
  font-weight: 600;
  line-height: 130%;
  text-transform: capitalize;
  text-align: center;
}
@media (max-width: 568px) {
  .explore__title {
    font-size: 60px;
  }
}
@media (max-width: 460px) {
  .explore__title {
    font-size: 50px;
  }
}
.explore__buttons {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 460px) {
  .explore__buttons {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.explore__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  border-radius: 12px;
  background: rgb(255, 255, 255);
  min-height: 54px;
  padding: 0 44px;
  transition: all 300ms ease-in-out;
  box-shadow: 0px 2px 10px 0px rgba(30, 103, 213, 0.25);
}
@media (max-width: 568px) {
  .explore__button {
    font-size: 16px;
    padding: 0 30px;
    min-height: 44px;
  }
}
.explore__button:hover {
  background: #000;
  color: #fff;
}
.explore__button:active {
  transform: translate(0, 3px);
}

.subscribe__blur {
  position: absolute;
  top: 200px;
  left: 40%;
  width: 300.33px;
  height: 500.92px;
  filter: blur(80px);
  background: rgba(180, 255, 250, 0.6);
}
.subscribe__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 256px;
}
@media (max-width: 992px) {
  .subscribe__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .subscribe__container {
    padding-top: 80px;
  }
}
.subscribe__titile {
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 10;
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 750px) {
  .subscribe__titile {
    font-size: 40px;
  }
}
@media (max-width: 405px) {
  .subscribe__titile {
    font-size: 40px;
  }
}
.subscribe__form {
  display: flex;
  padding: 4px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 28px;
  box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
  background: rgba(255, 255, 255, 0.2);
}
@media (max-width: 570px) {
  .subscribe__form {
    flex-direction: column;
    -webkit-backdrop-filter: blur(none);
            backdrop-filter: blur(none);
    background: none;
    gap: 20px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
    border: 0px solid rgb(255, 255, 255);
  }
}
.subscribe__email {
  color: rgb(114, 114, 114);
  font-family: Lato;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-transform: lowercase;
  background: none;
  padding: 25px 40px;
}
@media (max-width: 750px) {
  .subscribe__email {
    padding: 18px 20px;
    font-size: 26px;
  }
}
@media (max-width: 570px) {
  .subscribe__email {
    border-radius: 28px;
    box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.08);
    -webkit-backdrop-filter: blur(28px);
            backdrop-filter: blur(28px);
    background: rgba(255, 255, 255, 0.2);
  }
}
@media (max-width: 382px) {
  .subscribe__email {
    padding: 10px 15px;
    font-size: 22px;
    flex: 0 1 100%;
  }
}
.subscribe__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 24px;
  background: rgb(255, 255, 255);
  color: #000;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-transform: capitalize;
  padding: 0 50px;
  transition: all 300ms ease-in-out;
}
@media (max-width: 750px) {
  .subscribe__button {
    font-size: 30px;
    padding: 0 30px;
  }
}
@media (max-width: 570px) {
  .subscribe__button {
    border-radius: 14px;
  }
}
@media (max-width: 382px) {
  .subscribe__button {
    font-size: 25px;
    flex: 0 1 100%;
  }
}
.subscribe__button:hover {
  background: #000;
  color: #fff;
}
.subscribe__button:active {
  transform: translate(0, 3px);
}

.page__part__title {
  color: rgb(0, 0, 0);
  position: relative;
  z-index: 10;
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 735px) {
  .page__part__title {
    font-size: 40px;
  }
}
@media (max-width: 405px) {
  .page__part__title {
    font-size: 40px;
  }
}

.part {
  padding-top: 256px;
}
@media (max-width: 992px) {
  .part {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .part {
    padding-top: 80px;
  }
}
.part__blur-1 {
  position: absolute;
  filter: blur(75px);
  background: rgba(170, 214, 255, 0.3);
  top: 0;
  left: 100px;
  width: 700.46px;
  height: 606.5px;
}
.part__blur-2 {
  position: absolute;
  filter: blur(60px);
  background: rgba(94, 129, 255, 0.3);
  top: -150px;
  left: 400px;
  width: 600px;
  height: 600.5px;
}
.part__blur-3 {
  width: 700.63px;
  height: 700.54px;
  position: absolute;
  filter: blur(75px);
  background: rgba(157, 255, 249, 0.3);
  top: 0;
  right: 100px;
}
.part__container {
  position: relative;
}
.part__wrapper {
  display: flex;
}
.part__slide {
  flex: 0 1 33%;
  min-height: 500px;
  border: 2px solid rgb(255, 255, 255);
  -webkit-backdrop-filter: blur(11px);
          backdrop-filter: blur(11px);
  background: rgba(255, 255, 255, 0.2);
  padding: 30px 40px;
}
.part__slide.swiper-slide-active {
  background: #fff;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  transition: all 300ms ease-in-out;
}
.part__slide.swiper-slide-active .part__button {
  opacity: 1;
}
@media (max-width: 920px) {
  .part__slide {
    flex: 0 1 40%;
  }
}
@media (max-width: 710px) {
  .part__slide {
    flex: 0 1 60%;
  }
}
@media (max-width: 470px) {
  .part__slide {
    flex: 0 1 95%;
    padding: 20px 30px;
  }
}
.part__body {
  display: flex;
  flex-direction: column;
  min-height: 500px;
  justify-content: space-between;
}
.part__header {
  font-weight: 600;
  text-align: center;
  line-height: 11px;
  text-transform: capitalize;
}
.part__header span {
  border-radius: 150px;
  background: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px 20px;
}
.part__main {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 786px) {
  .part__main {
    margin-top: 20px;
  }
}
@media (max-width: 470px) {
  .part__main {
    margin-top: 10px;
  }
}
.part__title {
  color: rgb(0, 0, 0);
  font-size: 25px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: capitalize;
}
.part__text {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  text-align: center;
  max-height: 240px;
  overflow: auto;
  /* ползунок скроллбара */
}
.part__text::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: inherit;
}
.part__text::-webkit-scrollbar-thumb {
  background-color: #878686;
  border-radius: 9px;
}
.part__button {
  margin-top: 30px;
  flex: 0 1 100%;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
.part__button a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  border-radius: 12px;
  background: rgb(0, 0, 0);
  min-height: 60px;
}
@media (max-width: 590px) {
  .part__button a {
    min-height: 40px;
    font-size: 15px;
  }
}
.part__footer {
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 12px;
  text-align: center;
  text-transform: capitalize;
}
.part__nav {
  margin-top: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
  cursor: pointer;
}
@media (max-width: 735px) {
  .part__nav {
    margin-top: 25px;
  }
}
.part__prev {
  max-width: 20px;
  transform: rotate(90deg);
}
.part__prev img {
  transition: all 300ms ease-in-out;
  max-width: 100%;
}
.part__prev img:hover {
  transform: scale(1.2);
}
.part__next {
  max-width: 20px;
  transform: rotate(-90deg);
}
.part__next img {
  transition: all 300ms ease-in-out;
  max-width: 100%;
}
.part__next img:hover {
  transform: scale(1.2);
}

.roadmap__container {
  padding-top: 256px;
}
@media (max-width: 992px) {
  .roadmap__container {
    padding-top: 100px;
  }
}
@media (max-width: 584px) {
  .roadmap__container {
    padding-top: 80px;
  }
}
@media (max-width: 370px) {
  .roadmap__container {
    padding-top: 40px;
  }
}
.roadmap__title {
  position: relative;
  color: rgb(0, 0, 0);
  font-family: Poppins;
  font-size: 54px;
  font-weight: 600;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 40px;
}
@media (max-width: 735px) {
  .roadmap__title {
    font-size: 40px;
  }
}
.roadmap__items {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "q1 q6" "q1 q2" "q3 q2" "q3 q4" "q5 q7";
}
@media (max-width: 797px) {
  .roadmap__items {
    grid-template-columns: 1fr;
    grid-template-areas: "q1" "q2" "q3" "q4" "q5";
  }
}
.roadmap__item {
  padding: 50px 15px 15px 100px;
}
@media (max-width: 954px) {
  .roadmap__item {
    padding: 30px 15px 15px 60px;
  }
}

.item-roadmap {
  position: relative;
  border-right: 1px solid #000;
}
.item-roadmap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0));
}
@media (max-width: 797px) {
  .item-roadmap {
    border-right: none;
  }
}
@media (max-width: 490px) {
  .item-roadmap {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.item-roadmap__blur {
  position: absolute;
  top: 0;
  left: 0;
}
.item-roadmap__blur::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 50%;
  filter: blur(6px);
}
.item-roadmap__blur::before {
  content: "";
  z-index: 0;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -50px;
  left: -50px;
  border-radius: 50%;
  filter: blur(35px);
  z-index: 0;
}
.item-roadmap__blur span {
  position: absolute;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  z-index: 10;
}
.item-roadmap__title {
  color: rgb(0, 0, 0);
  font-family: Wide;
  font-size: 36px;
  font-weight: 600;
  line-height: 156.5217391304%;
  text-transform: capitalize;
}
@media (max-width: 735px) {
  .item-roadmap__title {
    font-size: 26px;
  }
}
.item-roadmap__list {
  margin-top: 30px;
}
.item-roadmap__list li {
  font-size: 24px;
  position: relative;
  line-height: 150%;
  font-family: Lato;
  font-weight: 400;
  color: rgb(43, 43, 43);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.item-roadmap__list li::before {
  content: "";
  display: inline-block;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #000;
}
@media (max-width: 735px) {
  .item-roadmap__list li::before {
    width: 5px;
    height: 5px;
  }
}
@media (max-width: 735px) {
  .item-roadmap__list li {
    font-size: 18px;
  }
}

.Q1 {
  grid-area: q1;
}
.Q1 .item-roadmap__blur::after {
  background: rgb(133, 160, 255);
}
.Q1 .item-roadmap__blur::before {
  background: rgba(130, 157, 255, 0.5);
}

.Q2 {
  grid-area: q2;
}
.Q2 .item-roadmap__blur::after {
  background: rgb(133, 255, 233);
}
.Q2 .item-roadmap__blur::before {
  background: rgba(125, 255, 216, 0.5);
}

.Q3 {
  grid-area: q3;
}
.Q3 .item-roadmap__blur::after {
  background: rgb(125, 194, 255);
}
.Q3 .item-roadmap__blur::before {
  background: rgba(130, 202, 255, 0.5);
}

.Q4 {
  grid-area: q4;
}
.Q4 .item-roadmap__blur::after {
  background: rgb(132, 168, 255);
}
.Q4 .item-roadmap__blur::before {
  background: rgba(117, 156, 255, 0.5);
}

.Q5 {
  grid-area: q5;
  border-right: none;
}
.Q5 .item-roadmap__blur::after {
  background: rgb(149, 230, 255);
}
.Q5 .item-roadmap__blur::before {
  background: rgba(120, 255, 255, 0.5);
}

.item-roadmap-right {
  border-right: none;
}
.item-roadmap-right .item-roadmap__blur {
  right: -4px;
  left: 100%;
}
.item-roadmap-right::before {
  background: linear-gradient(to left, #000, rgba(0, 0, 0, 0));
}
@media (max-width: 797px) {
  .item-roadmap-right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
  }
}
@media (max-width: 490px) {
  .item-roadmap-right {
    align-items: center;
    justify-content: center;
  }
}

.footer {
  background: rgb(218, 225, 241);
}

.top-footer {
  border-bottom: 1px solid rgb(255, 255, 255);
}
.top-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 30px;
       column-gap: 30px;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media (max-width: 530px) {
  .top-footer__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 400px) {
  .top-footer__container {
    flex-direction: column;
    row-gap: 15px;
    align-items: left;
  }
}
.top-footer__content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.top-footer__social {
  display: flex;
  -moz-column-gap: 18px;
       column-gap: 18px;
  flex-wrap: wrap;
  row-gap: 15px;
}
.top-footer__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  background-color: #fff;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  padding: 8px;
  transition: all 300ms ease-in-out;
}
.top-footer__social a::before {
  transition: all 300ms ease-in-out;
}
.top-footer__social a:hover {
  background-color: #000;
}
.top-footer__social a:hover::before {
  color: #fff;
}
.top-footer__text {
  max-width: 270px;
  line-height: 140%;
}

.bottom-footer__content {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (max-width: 400px) {
  .bottom-footer__content {
    justify-content: center;
  }
}
.bottom-footer__year {
  color: rgb(95, 95, 95);
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 530px) {
  .bottom-footer__year {
    font-size: 15px;
  }
}
.bottom-footer__logo {
  min-width: 60px;
}
.bottom-footer__logo img {
  min-width: 100%;
}
@media (max-width: 530px) {
  .bottom-footer__logo {
    max-width: 40px;
  }
}