//Container.............................................
$container-width:1350px;
$container: 1350;
$main-offset:20px;
//Fonts.............................................
$font-family:'Rubik';
$font-size:16px;
//Colors.............................................
$main-color: #fff;
$purple-color: #AE76FF;
$gray-color: #D3D3D3;
//Others.............................................
$default-trans:all 300ms ease-in-out;