//Контейнер.............................................
$containerWidth:1168px;
$mainOffset:20px;
//Шрифты.............................................
$fontFamily:'Lato';
$mainColor: #000;
$fontSize:14px;
//Прочее.............................................
$defaultTrans:all 300ms ease-in-out;