//Контейнер.............................................
$container-width:1168px;
$main-offset:20px;
//Шрифты.............................................
$font-family:'Lato';
$main-color: #000;
$font-size:14px;
//Прочее.............................................
$default-trans:all 300ms ease-in-out;