.footer {
	background: rgb(218, 225, 241);
	&__top {
	}

	&__bottom {
	}
}
.top-footer {
	border-bottom: 1px solid rgb(255, 255, 255);
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
		padding-top: 70px;
		padding-bottom: 70px;
		@media (max-width: 530px) {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		@media (max-width: 400px) {
			flex-direction: column;
			row-gap: 15px;
			align-items: left;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	&__logo {
	}

	&__social {
		display: flex;
		column-gap: 18px;
		flex-wrap: wrap;
		row-gap: 15px;
		a{
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 25px;
			background-color: #fff;
			border-radius: 50%;
			background-color: rgb(255, 255, 255);
			padding: 8px;
			transition: $defaultTrans;
			&::before{
				transition: $defaultTrans;
			}
			&:hover{
				background-color: #000;
				&::before{
					color: #fff;
				}
			}
		}
	}

	&__text {
		max-width: 270px;
	}
}

.bottom-footer {

	&__container {
	}

	&__content {
		display: flex;
		column-gap: 9px;
		align-items: center;
		padding-top: 26px;
		padding-bottom: 26px;
		@media (max-width: 400px) {
			justify-content: center;
		}
	}

	&__year {
		color: rgb(95, 95, 95);
		font-family: Lato;
		font-size: 20px;
		font-weight: 400;
		line-height: 130%;
		@media (max-width: 530px) {
			font-size: 15px;
		}
	}

	&__logo {
		min-width: 60px;
		img{
			min-width: 100%;
		}
		@media (max-width: 530px) {
			max-width: 40px;
		}
	}
}
