.page {
	padding-bottom: 120px;
	@media (max-width: 600px) {
		padding-bottom: 50px;
	}
	&__main {
		margin-top: 80px;
		min-height: 100vh;
		@media (max-width: 998px) {
			margin-top: 20px;
		}
	}
}
.main {
	position: relative;
	&__blur{
		filter: blur(120px);
		background: rgba(177, 250, 255, 0.5);
		position: absolute;
		width: 669px;
		height: 235px;
		top: -50px;
		left: 0;
	}
	&__container {
		display: flex;
		@media (max-width: 998px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 50px;
		}
	}

	&__left {
	}

	&__right {
	}
}
.left-main {
	@media (max-width: 998px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__title {
		font-family: Poppins;
		font-size: 80px;
		font-weight: 600;
		line-height: 130%;
		text-transform: capitalize;
		margin-bottom: 7vh;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		@media (max-width: 998px) {
			text-align: center;
		}
		
		span{
			color: rgb(51, 91, 233);
			font-family: Poppins;
			font-size: 80px;
			font-weight: 600;
			line-height: 130%;
			text-transform: capitalize;
		}
		@media (max-width:735px) {
			font-size: 50px;
			span{
				font-size: 50px;
			}
		}
		
		
	}

	&__buttons {
		display: flex;
		align-items: center;
		column-gap: 50px;
		row-gap: 20px;
		margin-bottom: 10vh;
		@media (max-width:430px) {
			flex-direction: column;
			margin-bottom: 3vh;
		}

	}

	&__botton {
		border: 1px solid rgb(0, 0, 0);
		border-radius: 12px;
		background: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-transform: capitalize;
		color: rgb(255, 255, 255);
		padding: 18px 44px 18px 44px;
		text-align: center;
		flex: 0 1 200px;
		@media (max-width:430px) {
			flex: 0 0 auto;
		}
	}

	&__info {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: end;
		margin-bottom: 10vh;
		@media (max-width:998px) {
			justify-content: center;
		}
		@media (max-width:430px) {
			
			margin-bottom: 3vh;
		}
	}

	&__support {
		display: flex;
		column-gap: 13px;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width:998px) {
			justify-content: center;
		}
	}

	&__text {
		color: rgb(41, 41, 41);
		font-family: Lato;
		font-size: 16px;
		font-weight: 400;
		line-height: 150%;
		letter-spacing: 0%;
		text-align: left;
		text-transform: capitalize;
	}
}
.botton-inherit {
	background-color: inherit;
	border: none;
	color: rgb(0, 0, 0);
	padding:  12px 20px 12px 20px;
	flex: 0 0 auto;
	svg{
		margin-left: 5px;
	}
}
.info-left-main {

	&__column {
		display: flex;
		flex-direction: column;
		opacity: 0.8;
		border: 1px solid rgb(249, 249, 249);
		padding: 24px 16px 24px 16px;
		flex: 0 1 200px;
		row-gap: 8px;
		@media (max-width: 998px) {
			flex: 0 1 auto;
		}
	}

	&__title {
		font-family: Lato;
		font-size: 24px;
		font-weight: 700;
		line-height: 29px;
		text-transform: capitalize;
	}

	&__text {
		font-family: Lato;
		font-size: 14px;
		font-weight: 500;
		line-height: 17px;
		text-transform: capitalize;
	}
}

.left-main-first {
	
}
.left-main-second {
	color: rgb(109, 109, 109);
	font-size: 19px;
}
.left-main-thirsd {
	font-weight: 600;
	color: rgb(109, 109, 109);
	font-size: 21px;
}
.left-main-fourtht {
	color: rgb(109, 109, 109);
	font-size: 20px;
	font-weight: 400;
}

.main {

	&__right {
		margin-left: 100px;
		@media (max-width: 998px) {
			margin-left: 0;
		}
	}
}
.right-main {
	
	@media (max-width: 998px) {
		display: flex;
		justify-content: center;
	}
	&__blur{
		position: absolute;
	}
	flex: 0 0 316px;
	&__phone {
		background: url('../../img/main__page/tel.svg');
		background-size: no-repeat;
		border-radius: 50px;
		position: relative;
		padding: 10px 10px 10px 10px;
		width: 100%;
		z-index: 5;
		@media (max-width: 998px) {
			flex: 0 0 316px;
		}
		
	}

	&__content {
		backdrop-filter: blur(16.7px);
		background: rgba(255, 255, 255, 0.7);
		border-radius: 50px;
		min-height: 100%;
		z-index: 5;
		position: relative;
		
	}

	&__info{
		padding: 52px 35px 0px 35px;
		margin-bottom: 103px;
		@media (max-width:430px) {
			margin-bottom: 50px;
		}
	}
	&__logo {
		margin-bottom: 40px;
	}

	&__title {
		display: flex;
		flex-direction: column;
		span{
			color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 32px;
		font-weight: 500;
		line-height: 48px;
		text-transform: capitalize;
		}
		margin-bottom: 20px;
	}

	&__text {
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 16px;
		font-weight: 500;
		line-height: 19px;
		text-transform: capitalize;
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 60px;
		row-gap: 16px;
		@media (max-width:430px) {
			padding-bottom: 35px;
		}
	}

	&__sign {
		flex: 1 1 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: 48px;
		color: rgb(255, 255, 255);
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-transform: capitalize;
		border-radius: 8px;
		box-shadow: 0px 4px 20px 0px rgba(33, 129, 159, 0.5);
		background: rgb(23, 23, 23);
		
	}

	&__more {
		color: #000;
		
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 24px;
		text-transform: capitalize;
		box-sizing: border-box;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 8px;
		box-shadow: 0px 4px 20px 0px rgba(30, 103, 213, 0.25);
		background: rgb(255, 255, 255);
		padding: 18px 44px;
	}

	&__google {
		border-radius: 8px;
		box-shadow: 0px 4px 20px 0px rgba(34, 94, 167, 0.3);
		background: rgb(255, 255, 255);
		padding: 18px 20px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__message {
		position: absolute;
		top: 58px;
		left: 154px;
		z-index: 6;
		@media (max-width:530px) {
			display: none;
		}
	}

	&__widget {
		position: absolute;
		top: 212px;
		left: -135px;
		z-index: 6;
		@media (max-width:530px) {
			display: none;
		}
	}

	&__card {
		position: absolute;
		top: 325px;
		left: 188px;
		z-index: 6;
		@media (max-width:530px) {
			display: none;
		}
	}
}
._green{
	top: 228px;
	left: -60px;
	z-index: 0;
}
._blue{
	top: 90px;
	left: -65px;
	z-index: 0;
}


//MAIN-SLIDER///////////////////////////////////////////////////////////////////////////////////

.page {

	&__main-slider {
	}
}
.slider-main {
	padding-top: 200px;
	@media (max-width:992px) {
		padding-top: 100px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 682px;
		text-align: center;
		row-gap: 35px;
		margin-bottom: 88px;
		@media (max-width:735px) {
			margin-bottom: 30px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		@media (max-width:735px) {
			font-size: 40px;
		}
	}

	&__button {
		border: 1px solid rgb(0, 0, 0);
		border-radius: 12px;
		min-height: 54px;
		display: flex;
		align-items: center;
		justify-content: center;
		a{
			padding:  0 44px;
			color: #000;
			font-size: 20px;
			font-weight: 700;
			line-height: 24px;
			letter-spacing: 0%;
			text-align: center;
			text-transform: capitalize;
		}
		@media (max-width:735px) {
			a{
				padding: 0 22px;
				font-size: 16px;
			}
			min-height: 45px;
		}
	}
}

.main-slider {
	
	&__background{
		position: absolute;
		width: 357px;
		height: 209.87px;
		transform: rotate(174.85deg);
		filter: blur(75px);
		background: rgba(174, 250, 255, 0.6);	
		top: 130px;
		left: 200px;
	}
	&__background-2{
		position: absolute;
		width: 357px;
		height: 209.87px;
		top: 150px;
		right: 250px;
		transform: rotate(17.09deg);
		filter: blur(75px);
		background: rgba(174, 255, 221, 0.6);
	}
	&__container {
		z-index: 10;
		min-width: 100%;
		padding: 0;
		margin: auto;
		position: relative;
	}

	&__wrapper {
		display: flex;
		min-width: 100%;
	}

	&__slide {
		border: 0.5px solid rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(11px);
		background: rgba(255, 255, 255, 0.2);
		flex: 0 0 27%;
		padding: 30px;
		@media (max-width:992px) {
			flex: 0 0 40%;
		}
		@media (max-width:748px) {
			flex: 0 0 60%;
		}
		@media (max-width:458px) {
			flex: 0 0 80%;
		}
		&.swiper-slide-active{
			background: #fff;
			backdrop-filter: blur(0px);
			transition: $defaultTrans;
			.main-slider__num{
				background-color:rgb(14, 14, 14);
				span{
					color: rgb(247, 247, 247);
				}
				
			}
		}
	}

	&__content {
	}


	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 21px;
		border-bottom: 1px solid rgb(190, 190, 190);;
	}

	&__num {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 150px;
		transition: $defaultTrans;
		span{
			font-size: 18px;
			font-family: Lato;
			font-weight: 600;
			line-height: 22px;
			color: #000;
			padding: 8px 20px 8px 20px;
		}
		@media (max-width:748px) {
			span{
				font-size: 14px;
				padding: 6px 15px;
			}
		}
	}

	&__social {
		display: flex;
		column-gap: 30px;
		
	}

	&__inst {
		font-size: 20px;
	}

	&__tik {
		font-size: 20px;
	}

	&__main {
		padding: 32px 0 0 0 ;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__image {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		overflow: hidden;
		
		img{
			height: 100%;
			width: auto;
		}		
		@media (max-width:748px) {
			width: 100px;
			height: 100px;
		}
	}

	&__name {
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		text-transform: capitalize;
		margin-top: 24px;
		@media (max-width:748px) {
			font-size: 19px;
		}
	}

	&__subscribes {
		color: rgb(95, 95, 95);
		font-family: Lato;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
		margin-top: 14px;
	}
	&__nav{
		margin-top: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 64px;
		cursor: pointer;
		@media (max-width:735px) {
			margin-top: 25px;
		}
	}
	&__prev {
		max-width: 20px;
		img{
			max-width: 100%;
		}
		transform: rotate(90deg);
	}

	&__next {
		max-width: 20px;
		img{
			max-width: 100%;
		}
		transform: rotate(-90deg);
	}
}

//INFINITE////////////////////////////////////////////////////////////////////

.infinite {

	&__container {
		display: flex;
		justify-content: space-between;
		row-gap: 30px;
		align-items: center;
		padding-top: 168px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			flex-direction: column-reverse;
			row-gap: 20px;
			padding-top: 80px;
		}
	}

	&__img {
	
		flex: 0 1 40%;
		img{
			min-width: 100%;
		}
		
	}

	&__content {
		max-width: 600px;
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		@media (max-width:735px) {
			font-size: 40px;
		}
		@media (max-width:584px) {
			text-align: center;
		}
	}

	&__text {
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 20px;
		font-weight: 400;
		line-height: 130%;
		text-transform: capitalize;
		margin-top: 50px;
		@media (max-width:735px) {
			font-size: 15px;
			margin-top: 25px;
		}
		@media (max-width:584px) {
			text-align: center;
		}
	}
}


//INTERACT////////////////////////////////////////////////////////////////////

.page {

	&__interact {
		position: relative;
		z-index: 10;
	}
}
.interact {

	&__container {
		padding-top: 200px;
		display: flex;
		justify-content: space-between;
		row-gap: 30px;
		@media (max-width:1068px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		max-width: 500px;
		@media (max-width:1068px) {
			font-size: 40px;
			text-align: center;
		}
		@media (max-width:500px) {
			font-size: 30px;
			
		}
	}

	&__body {
		display: inline-grid;
		grid-template-columns: minmax(200px, 300px) minmax(200px, 300px);
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 'map privacy'
									'map wallet'
									'dashboard wallet';
		gap: 25px;
		@media (max-width:579px) {
			gap: 10px;
		}
		@media (max-width:479px) {
			justify-content: center;
			align-items: center;
			grid-template-columns: 80%;
			grid-template-rows: auto auto auto auto;
			grid-template-areas: 'map'
									'privacy'
									'wallet'
									'dashboard';
		}
	}

	&__item {
	}
}
.item-interact {
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	&__header {
		padding: 20px;
	}

	&__icon {
		width: 24px;
		img{
			min-width: 100%;
		}
	}

	&__price {
	}

	&__balance {
	}

	&__num {

	}

	&__content {
		padding: 25px;
	}

	&__title {
		color: rgb(255, 255, 255);
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 145%;
		text-transform: capitalize;
		
	}

	&__text {
		color: rgb(242, 242, 242);
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 125%;
		margin-top: 5px;
	}

	&__day {
	}
}

.item-interact-map {
	background: url('../img/Interact/map.jpeg');
	background-size: cover;
	grid-area: map;
	
	.item-interact__content{
	backdrop-filter: blur(10px);
	background: rgba(25, 21, 52, 0.3);
	}
}
.item-interact-privacy {
	background: rgb(117, 115, 245);
	grid-area: privacy;
}
.item-interact-dashboard {
	background: rgb(138, 213, 255);
	grid-area: dashboard;
	.item-interact__title{
		color: rgb(20, 20, 20);
	}
	.item-interact__text{
		color: rgb(20, 20, 20);
	}
}
.item-interact-wallet {
	background: rgb(164, 247, 232);
	grid-area: wallet;
	.item-interact__title{
		color: rgb(20, 20, 20);
	}
	.item-interact__text{
		color: rgb(20, 20, 20);
	}
	.item-interact__header{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 10px;
		row-gap: 32px;
	}
	.item-interact__icon{
		
	}
	.item-interact__day{
		cursor: pointer;
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 15px;
		font-weight: 400;
		line-height: 145%;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 6px;
		padding: 4px 12px;
		border: 0.5px solid rgb(106, 170, 124);
		border-radius: 100px;
		&::after{
			content: '';
			width: 7px;
			height: 13px;
			display: block;
			background: url('../img/main__slider/row-right.png');
			background-repeat: no-repeat;
			background-size: cover;
			transform: rotate(90deg);
		}
	}
	.item-interact__price{
		flex: 0 0 100%;
	}
	.item-interact__balance{
		color: rgb(0, 0, 0);
		font-family: Inter;
		font-size: 13px;
		font-weight: 400;
		line-height: 6px;
		letter-spacing: 0%;
		text-align: left;
	}
	.item-interact__num{
		color: rgb(0, 0, 0);
		font-family: Inter;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		margin-top: 10px;
	}
	.item-interact__line{
		min-width: 100%;
		img{
			min-width: 100%;
			height: auto;
		}
	}
}


//COMPANIES////////////////////////////////////////////////////////////////////



.companies {
	&__container {
		position: relative;
		padding-top: 256px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	}

	&__blur{
		position: absolute;
		z-index: 0;
		width: 1000px;
		height: 1000px;
		filter: blur(300px);
		background: rgb(233, 222, 255);
		right: -200px;
		top: 0px;
	}

	&__title {
		position: relative;
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		text-align: center;
		max-width: 700px;
		margin: 0 auto;
		@media (max-width:735px) {
			font-size: 40px;
		}
	}

	&__items {
		margin-top: 40px;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 0 1 33.333%;
		border: 1px solid rgb(255, 255, 255);
		backdrop-filter: blur(14px);
		background: rgba(255, 255, 255, 0.2);
		min-height: 200px;
		@media (max-width:500px) {
			flex: 0 1 50%;
		}
	}

	&__name {
		font-size: 30px;
		font-weight: 600;
		@media (max-width:777px) {
			font-size: 20px;
		}
	}
}


//ADVISORS////////////////////////////////////////////////////////////////////

.advisors {
	position: relative;
	z-index: 20;
	&__container {
		padding-top: 256px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	}

	&__title {
		position: relative;
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 40px;
		@media (max-width:735px) {
			font-size: 40px;
		}
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		@media (max-width:843px) {
			justify-content: space-around;
			row-gap: 15px;
		}
		@media (max-width:606px) {
			row-gap: 0;
		}
	}

	&__blur{
		position: absolute;
		top: 0;
		left: 0;
		width: 800px;
		height: 500.5px;
		filter: blur(85px);
		background: rgba(170, 240, 255, 0.3);
	}
	&__blur2{
		position: absolute;
		top: 0;
		right: 0;
		width: 700.5px;
		height: 422px;
		filter: blur(85px);
		background: rgba(170, 255, 224, 0.3)
	}

	&__item {
		flex: 0 1 25%;
		box-sizing: border-box;
		border: 1px solid rgb(255, 255, 255);
		backdrop-filter: blur(14px);
		background: rgba(255, 255, 255, 0.3);
		padding: 16px 16px 16px 20px;
		@media (max-width:843px) {
			flex: 0 1 40%;
		}
		@media (max-width:606px) {
			flex: 0 1 50%;
		}
		@media (max-width:515px) {
			flex: 0 1 100%;
		}
	}
}
.item-advisors {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__icon {
		
	}

	&__name {
		margin-top: 10px;
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 20px;
		font-weight: 500;
		line-height: 130%;
		text-transform: capitalize;
	}

	&__experience {
		margin-top: 16px;
		display: flex;
		flex-direction: column;
		span{
			color: rgb(0, 0, 0);
			font-family: Lato;
			font-size: 16px;
			font-weight: 400;
			line-height: 160%;
			position: relative;
			padding-left: 15px;
			&::before{
				content: '';
				position: absolute;
				top: 10px;
				left: 0px;
				display: inline-block;
				width: 5px;
				height: 5px;
				background-color: #000;
				border-radius: 50%;
				z-index: 25;
			}
		}
		@media (max-width:606px) {
			max-height: 200px;
			overflow: auto;
		}
	}

	&__link {
		margin-top: 26px;
		a{
			display: flex;
			column-gap: 20px;
			color: rgb(51, 51, 51);
			font-family: Lato;
			font-size: 16px;
			font-weight: 500;
			line-height: 10px;
			text-decoration-line: underline;
			text-transform: lowercase;
		}
	}
}



//TEAM////////////////////////////////////////////////////////////////////


.team {

	&__container {
		padding-top: 200px;
		position: relative;
		z-index: 10;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	}

	&__blur{
		filter: blur(150px);
		background: rgba(60, 208, 240, 0.2);
		width: 1200px;
		height: 600px;
		position: absolute;
		top: 200px;
		left: 0;
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 40px;
		@media (max-width:735px) {
			font-size: 40px;
		}
	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		position: relative;
		z-index: 10;
		@media (max-width:532px) {
			flex-direction: column;
			row-gap: 40px;
		}
	}

	&__item {
		flex: 0 1 30%;
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 16px;
		@media (max-width:532px) {
			flex-direction: row;
			justify-content: center;
			column-gap: 20px;
		}
	}
	&__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 16px;
	}

	&__icon {
		img{
			max-width: 100%;
		}
		@media (max-width:773px) {
			max-width: 100px;
		}
	}

	&__prof {
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 16px;
		font-weight: 500;
		line-height: 10px;
		text-transform: uppercase;
	}

	&__name {
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 12px;
		text-transform: capitalize;
	}

	&__social {
		display: flex;
		column-gap: 30px;
		margin-top: 10px;
	}

	&__in {
		font-size: 18px;
	}

	&__twitter {
		font-size: 18px;
	}
}




//explore////////////////////////////////////////////////////////////////////

.explore {
	&__container{
		margin-top: 250px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		row-gap: 64px;
		background: url(../img/Explore/bg.png) no-repeat;
		background-size: contain;
		background-position: center;
		padding-top: 170px;
		padding-bottom: 175px;
		@media (max-width:861px) {
			margin-top: 100px;
		}
		@media (max-width:568px) {
			margin-top: 65px;
			padding-top: 120px;
			padding-bottom: 120px;
		}
		@media (max-width:460px) {
			row-gap: 30px;
		}
	}
	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 80px;
		font-weight: 600;
		line-height: 130%;
		text-transform: capitalize;
		text-align: center;
		@media (max-width:568px) {
			font-size: 60px;
		}
		@media (max-width:460px) {
			font-size: 50px;
		}
	}

	&__buttons {
		display: flex;
		column-gap: 30px;
		flex-wrap: wrap;
		@media (max-width:460px) {
			column-gap: 15px;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		text-transform: capitalize;
		border-radius: 12px;
		background: rgb(255, 255, 255);
		min-height: 54px;
		padding: 0 44px;
		transition: $defaultTrans;
		@media (max-width:568px) {
			font-size: 16px;
			padding: 0 30px;
			min-height: 44px;
		}
		&:hover{
			background: #000;
			color: #fff;
		}
	}
}
//SUBSCRIBE////////////////////////////////////////////////////////////////////


.subscribe {
	&__blur{
		position: absolute;
		top: 200px;
		left: 40%;
		width: 300.33px;
		height: 500.92px;
		filter: blur(80px);
		background: rgba(180, 255, 250, 0.6);
	}
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding-top: 256px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	}

	&__titile {
	color: rgb(0, 0, 0);
	position: relative;
	z-index: 10;
	font-family: Poppins;
	font-size: 54px;
	font-weight: 600;
	line-height: 140%;
	text-align: center;
	text-transform: capitalize;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 40px;
	@media (max-width:735px) {
		font-size: 40px;
	}
	@media (max-width:405px) {
		font-size: 40px;
	}
	}

	&__form {
		display: flex;
		padding: 4px;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 28px;
		box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.08);
		backdrop-filter: blur(28px);
		background: rgba(255, 255, 255, 0.2);
		@media (max-width:570px) {
			flex-direction: column;
			backdrop-filter: blur(none);
			background: none;
			gap: 20px;
			box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
			border: 0px solid rgb(255, 255, 255);
		}
	}

	&__email {
		color: rgb(114, 114, 114);
		font-family: Lato;
		font-size: 32px;
		font-weight: 700;
		line-height: 48px;
		text-transform: lowercase;
		background: none;
		padding: 25px 40px;
		@media (max-width:735px) {
			padding: 18px 20px;
			font-size: 26px;
		}
		@media (max-width:570px) {
			border-radius: 28px;
			box-shadow: 0px 8px 50px 0px rgba(0, 0, 0, 0.08);
			backdrop-filter: blur(28px);
			background: rgba(255, 255, 255, 0.2);
		}
		@media (max-width:382px) {
			padding: 10px 15px;
			font-size: 22px;
			flex: 0 1 100%;
		}
	}

	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid rgb(0, 0, 0);
		border-radius: 24px;
		background: rgb(0, 0, 0);
		color: #fff;
		color: rgb(255, 255, 255);
		font-family: Lato;
		font-size: 40px;
		font-weight: 700;
		line-height: 48px;
		text-transform: capitalize;
		padding: 0 50px;
		@media (max-width:735px) {
			font-size: 30px;
			padding: 0 30px;
		}
		@media (max-width:382px) {
			font-size: 25px;
			flex: 0 1 100%;
		}
	}
}

//PART////////////////////////////////////////////////////////////////////

.page__part__title{
	color: rgb(0, 0, 0);
	position: relative;
	z-index: 10;
	font-family: Poppins;
	font-size: 54px;
	font-weight: 600;
	line-height: 140%;
	text-align: center;
	text-transform: capitalize;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	@media (max-width:735px) {
		font-size: 40px;
	}
	@media (max-width:405px) {
		font-size: 40px;
	}
}

.part {
		padding-top: 256px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	&__blur-1{
		position: absolute;
		filter: blur(75px);
		background: rgba(170, 214, 255, 0.3);
		top: 0;
		left: 100px;
		width: 700.46px;
		height: 606.5px;
	}
	&__blur-2{
		position: absolute;
		filter: blur(60px);
		background: rgba(94, 129, 255, 0.3);
		top: -150px;
		left: 400px;
		width: 600px;
		height: 600.5px;
	}
	&__blur-3{
		width: 700.63px;
		height: 700.54px;
		position: absolute;
		filter: blur(75px);
		background: rgba(157, 255, 249, 0.3);
		top: 0;
		right: 100px;
	}
	
	&__container {
		position: relative;
	}

	&__wrapper {
		display: flex;
	}

	&__slide {
		flex: 0 1 33%;
		min-height: 500px;
		border: 2px solid rgb(255, 255, 255);
		backdrop-filter: blur(11px);
		background: rgba(255, 255, 255, 0.2);
		padding: 30px 40px;
		&.swiper-slide-active{
			background: #fff;
			backdrop-filter: blur(0px);
			transition: $defaultTrans;
			.part__button{
				opacity: 1;
			}
		}
		@media (max-width:920px) {
			flex: 0 1 40%;
		}
		@media (max-width:710px) {
			flex: 0 1 60%;
		}
		@media (max-width:470px) {
			flex: 0 1 95%;
			padding: 20px 30px;
		}
	}
	&__body{
		display: flex;
		flex-direction: column;
		min-height: 500px;
		justify-content: space-between;
	}
	&__header {
		span{
			border-radius: 150px;
			background: rgb(255, 255, 255);
			font-size: 18px;
			padding: 10px 20px;
		}	
			font-weight: 600;
			text-align: center;
			line-height: 11px;
			text-transform: capitalize;			
	}

	&__main {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		@media (max-width:786px) {
			margin-top: 20px;
		}
		@media (max-width:470px) {
			margin-top: 10px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 25px;
		font-weight: 700;
		line-height: 38px;
		text-align: center;
		text-transform: capitalize;
	}
	&__text{
		margin-top: 20px;
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 18px;
		font-weight: 400;
		line-height: 160%;
		text-align: center;
		max-height: 240px;
		overflow: auto;
	}
	
	&__button {
		margin-top: 30px;
		flex: 0 1 100%;
		opacity: 0;
		transition: $defaultTrans;

		a{
			display: flex;
			align-items: center;
			justify-content: center;
			color: rgb(255, 255, 255);
			font-size: 18px;
			font-weight: 700;
			line-height: 12px;
			letter-spacing: 0%;
			text-align: center;
			text-transform: capitalize;
			border-radius: 12px;
			background: rgb(0, 0, 0);
			min-height: 60px;
			@media (max-width:590px) {
				min-height: 40px;
				font-size: 15px;
			}
		}
	}

	&__footer {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 700;
		line-height: 12px;
		text-align: center;
		text-transform: capitalize;
	}
	&__nav{
		margin-top: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 64px;
		cursor: pointer;
		@media (max-width:735px) {
			margin-top: 25px;
		}
	}
	&__prev {
		max-width: 20px;
		img{
			max-width: 100%;
		}
		transform: rotate(90deg);
	}

	&__next {
		max-width: 20px;
		img{
			max-width: 100%;
		}
		transform: rotate(-90deg);
	}
}
