.infinite {

	&__container {
		display: flex;
		justify-content: space-between;
		row-gap: 30px;
		align-items: center;
		padding-top: 168px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			flex-direction: column-reverse;
			row-gap: 20px;
			padding-top: 80px;
		}
	}

	&__img {
	
		flex: 0 1 40%;
		img{
			min-width: 100%;
		}
		
	}

	&__content {
		max-width: 600px;
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		@media (max-width:735px) {
			font-size: 40px;
		}
		@media (max-width:584px) {
			text-align: center;
		}
	}

	&__text {
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 20px;
		font-weight: 400;
		line-height: 130%;
		text-transform: capitalize;
		margin-top: 50px;
		@media (max-width:735px) {
			font-size: 15px;
			margin-top: 25px;
		}
		@media (max-width:584px) {
			text-align: center;
		}
	}
}
