.page {

	&__interact {
		position: relative;
		z-index: 10;
	}
}
.interact {

	&__container {
		padding-top: 200px;
		display: flex;
		justify-content: space-between;
		row-gap: 30px;
		@media (max-width:1068px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		max-width: 500px;
		@media (max-width:1068px) {
			font-size: 40px;
			text-align: center;
		}
		@media (max-width:500px) {
			font-size: 30px;
			
		}
	}

	&__body {
		display: inline-grid;
		grid-template-columns: minmax(200px, 300px) minmax(200px, 300px);
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas: 'map privacy'
									'map wallet'
									'dashboard wallet';
		gap: 25px;
		@media (max-width:579px) {
			gap: 10px;
		}
		@media (max-width:479px) {
			justify-content: center;
			align-items: center;
			grid-template-columns: 80%;
			grid-template-rows: auto auto auto auto;
			grid-template-areas: 'map'
									'privacy'
									'wallet'
									'dashboard';
		}
	}
}

.item-interact {
	transition: $default-trans;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	&__header {
		padding: 20px;
	}

	&__icon {
		width: 24px;
		img{
			min-width: 100%;
		}
	}

	&__content {
		padding: 25px;
	}

	&__title {
		color: rgb(255, 255, 255);
		font-family: Lato;
		font-size: 20px;
		font-weight: 700;
		line-height: 145%;
		text-transform: capitalize;
		
	}

	&__text {
		color: rgb(242, 242, 242);
		font-family: Lato;
		font-size: 14px;
		font-weight: 400;
		line-height: 125%;
		margin-top: 5px;
	}

	&__day {
		position: relative;
		&._active{
			.item-interact__menu{
				opacity: 1;
				top: 40px;
				visibility: visible;
			}
		}
		
	}
	&__menu{
		position: absolute;
		top: 0px;
		left: -10px;
		border: 1px solid #000;
		border-radius: 15px;
		padding: 15px;
		background-color: #fff;
		opacity: 0;
		transition: $default-trans;
		visibility: hidden;
	}
}

.item-interact-map {
	background: url('../img/interact/map.jpeg');
	background-size: cover;
	grid-area: map;
	
	.item-interact__content{
	backdrop-filter: blur(10px);
	background: rgba(25, 21, 52, 0.3);
	}
}
.item-interact-privacy {
	background: rgb(117, 115, 245);
	grid-area: privacy;
}
.item-interact-dashboard {
	background: rgb(138, 213, 255);
	grid-area: dashboard;
	.item-interact__title{
		color: rgb(20, 20, 20);
	}
	.item-interact__text{
		color: rgb(20, 20, 20);
	}
}
.item-interact-wallet{
	opacity: 0;
	visibility: hidden;
}
.item-interact-wallet._active {

	background: rgb(164, 247, 232);
	grid-area: wallet;
	opacity: 1;
	visibility: visible;
	.item-interact__title{
		color: rgb(20, 20, 20);
	}
	.item-interact__text{
		color: rgb(20, 20, 20);
	}
	.item-interact__header{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 10px;
		row-gap: 32px;
	}

	.item-interact__day{
		cursor: pointer;
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 15px;
		font-weight: 400;
		line-height: 145%;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 6px;
		padding: 4px 12px;
		border: 0.5px solid rgb(106, 170, 124);
		border-radius: 100px;
		&::after{
			content: '';
			width: 7px;
			height: 13px;
			display: block;
			background: url('../img/main-slider/row-right.png');
			background-repeat: no-repeat;
			background-size: cover;
			transform: rotate(90deg);
			transition: $default-trans;
		}
		&._active{
			&::after{
				transform: rotate(-90deg);
			}
		}
	}
	.item-interact__price{
		flex: 0 0 100%;
	}
	.item-interact__balance{
		color: rgb(0, 0, 0);
		font-family: Inter;
		font-size: 13px;
		font-weight: 400;
		line-height: 6px;
		letter-spacing: 0%;
		text-align: left;
	}
	.item-interact__num{
		color: rgb(0, 0, 0);
		font-family: Inter;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		margin-top: 10px;
	}
	.item-interact__line{
		min-width: 100%;
		img{
			min-width: 100%;
			height: auto;
		}
	}
}