.slider-main {
	padding-top: 200px;
	@media (max-width:992px) {
		padding-top: 100px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 682px;
		text-align: center;
		row-gap: 35px;
		margin-bottom: 88px;
		@media (max-width:735px) {
			margin-bottom: 30px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-transform: capitalize;
		@media (max-width:735px) {
			font-size: 40px;
		}
	}

	&__button {
		display: flex;
		flex-wrap: wrap;
		position: relative;
		overflow: hidden;
		border-radius: 12px;
		&::before{
			content: '';
			background-color: #000;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: -100%;
			transition: $default-trans;
			border-radius: 12px;
		}
		&:hover{
			&::before{
				left: 0;
			}
		}
		transition: $default-trans;
		&:active{
			transform: translate(0, 3px);
		}
		a{
			font-size: 20px;
			position: relative;
			text-transform: capitalize;
			color: black;
			font-weight: 700;
			border: 1px black solid;
			padding: 16px 44px;
			border-radius: 12px;
			overflow: hidden;
			transition: $default-trans;
			@media (max-width: 490px) {
				padding: 12px 30px;
				font-size: 16px;
			}
			@media (max-width: 390px) {
				padding: 10px 20px;
				font-size: 16px;
			}
			&:hover{
				color: #fff;
				background: inherit;
			}
		}
		
	}
}

.main-slider {
	
	&__background{
		position: absolute;
		width: 357px;
		height: 209.87px;
		transform: rotate(174.85deg);
		filter: blur(75px);
		background: rgba(174, 250, 255, 0.6);	
		top: 130px;
		left: 200px;
	}
	&__background-2{
		position: absolute;
		width: 357px;
		height: 209.87px;
		top: 150px;
		right: 250px;
		transform: rotate(17.09deg);
		filter: blur(75px);
		background: rgba(174, 255, 221, 0.6);
	}
	&__container {
		z-index: 10;
		min-width: 100%;
		padding: 0;
		margin: auto;
		position: relative;
	}

	&__wrapper {
		display: flex;
		min-width: 100%;
	}

	&__slide {
		border: 0.5px solid rgba(255, 255, 255, 0.8);
		backdrop-filter: blur(11px);
		background: rgba(255, 255, 255, 0.2);
		flex: 0 0 27%;
		padding: 30px;
		@media (max-width:992px) {
			flex: 0 0 40%;
		}
		@media (max-width:748px) {
			flex: 0 0 60%;
		}
		@media (max-width:458px) {
			flex: 0 0 80%;
		}
		&.swiper-slide-active{
			background: #fff;
			backdrop-filter: blur(0px);
			transition: $default-trans;
			.main-slider__num{
				background-color:rgb(14, 14, 14);
				span{
					color: rgb(247, 247, 247);
				}
				
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 21px;
		border-bottom: 1px solid rgb(190, 190, 190);;
	}

	&__num {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		border-radius: 150px;
		transition: $default-trans;
		span{
			font-size: 18px;
			font-family: Lato;
			font-weight: 600;
			line-height: 22px;
			color: #000;
			padding: 8px 20px 8px 20px;
		}
		@media (max-width:748px) {
			span{
				font-size: 14px;
				padding: 6px 15px;
			}
		}
	}

	&__social {
		display: flex;
		column-gap: 30px;
		a{			
			&::before{
				font-size: 20px;
				padding: 7px;
				border-radius: 50%;
				transition: $default-trans;
			}
			&:hover{
				&::before{
					color: #fff;
					background-color: #000;
				}
			}
		}
	}

	&__main {
		padding: 32px 0 0 0 ;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__image {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		overflow: hidden;
		
		img{
			height: 100%;
			width: auto;
		}		
		@media (max-width:748px) {
			width: 100px;
			height: 100px;
		}
	}

	&__name {
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		text-transform: capitalize;
		margin-top: 24px;
		@media (max-width:748px) {
			font-size: 19px;
		}
	}

	&__subscribes {
		color: rgb(95, 95, 95);
		font-family: Lato;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		text-transform: uppercase;
		margin-top: 14px;
	}
	&__nav{
		margin-top: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 64px;
		cursor: pointer;
		@media (max-width:735px) {
			margin-top: 25px;
		}
	}
	&__prev {
		max-width: 20px;
		img{
			transition: $default-trans;
			max-width: 100%;
			&:hover{
				transform: scale(1.2);
			}
		}
		transform: rotate(90deg);
	}

	&__next {
		max-width: 20px;
		img{
			transition: $default-trans;
			max-width: 100%;
			&:hover{
				transform: scale(1.2);
			}
		}
		transform: rotate(-90deg);
	}
}