.page__part__title{
	color: rgb(0, 0, 0);
	position: relative;
	z-index: 10;
	font-family: Poppins;
	font-size: 54px;
	font-weight: 600;
	line-height: 140%;
	text-align: center;
	text-transform: capitalize;
	max-width: 400px;
	margin: 0 auto;
	margin-bottom: 40px;
	@media (max-width:735px) {
		font-size: 40px;
	}
	@media (max-width:405px) {
		font-size: 40px;
	}
}

.part {
		padding-top: 256px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
	&__blur-1{
		position: absolute;
		filter: blur(75px);
		background: rgba(170, 214, 255, 0.3);
		top: 0;
		left: 100px;
		width: 700.46px;
		height: 606.5px;
	}
	&__blur-2{
		position: absolute;
		filter: blur(60px);
		background: rgba(94, 129, 255, 0.3);
		top: -150px;
		left: 400px;
		width: 600px;
		height: 600.5px;
	}
	&__blur-3{
		width: 700.63px;
		height: 700.54px;
		position: absolute;
		filter: blur(75px);
		background: rgba(157, 255, 249, 0.3);
		top: 0;
		right: 100px;
	}
	
	&__container {
		position: relative;
	}

	&__wrapper {
		display: flex;
	}

	&__slide {
		flex: 0 1 33%;
		min-height: 500px;
		border: 2px solid rgb(255, 255, 255);
		backdrop-filter: blur(11px);
		background: rgba(255, 255, 255, 0.2);
		padding: 30px 40px;
		&.swiper-slide-active{
			background: #fff;
			backdrop-filter: blur(0px);
			transition: $default-trans;
			.part__button{
				opacity: 1;
			}
		}
		@media (max-width:920px) {
			flex: 0 1 40%;
		}
		@media (max-width:710px) {
			flex: 0 1 60%;
		}
		@media (max-width:470px) {
			flex: 0 1 95%;
			padding: 20px 30px;
		}
	}
	&__body{
		display: flex;
		flex-direction: column;
		min-height: 500px;
		justify-content: space-between;
	}
	&__header {
		span{
			border-radius: 150px;
			background: rgb(255, 255, 255);
			font-size: 18px;
			padding: 10px 20px;
		}	
			font-weight: 600;
			text-align: center;
			line-height: 11px;
			text-transform: capitalize;			
	}

	&__main {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		@media (max-width:786px) {
			margin-top: 20px;
		}
		@media (max-width:470px) {
			margin-top: 10px;
		}
	}

	&__title {
		color: rgb(0, 0, 0);
		font-size: 25px;
		font-weight: 700;
		line-height: 38px;
		text-align: center;
		text-transform: capitalize;
	}
	&__text{
		margin-top: 20px;
		color: rgb(0, 0, 0);
		font-family: Lato;
		font-size: 18px;
		font-weight: 400;
		line-height: 160%;
		text-align: center;
		max-height: 240px;
		overflow: auto;
		&::-webkit-scrollbar {
			width: 4px; /* ширина для вертикального скролла */
			height: 8px; /* высота для горизонтального скролла */
			background-color: inherit;
	  }
	  
		/* ползунок скроллбара */
		&::-webkit-scrollbar-thumb {
				background-color: #878686;
				border-radius: 9px;
		}
	}
	
	&__button {
		margin-top: 30px;
		flex: 0 1 100%;
		opacity: 0;
		transition: $default-trans;

		a{
			display: flex;
			align-items: center;
			justify-content: center;
			color: rgb(255, 255, 255);
			font-size: 18px;
			font-weight: 700;
			line-height: 12px;
			letter-spacing: 0%;
			text-align: center;
			text-transform: capitalize;
			border-radius: 12px;
			background: rgb(0, 0, 0);
			min-height: 60px;
			@media (max-width:590px) {
				min-height: 40px;
				font-size: 15px;
			}
		}
	}

	&__footer {
		color: rgb(0, 0, 0);
		font-size: 18px;
		font-weight: 700;
		line-height: 12px;
		text-align: center;
		text-transform: capitalize;
	}
	&__nav{
		margin-top: 52px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 64px;
		cursor: pointer;
		@media (max-width:735px) {
			margin-top: 25px;
		}
	}
	&__prev {
		max-width: 20px;
		img{
			transition: $default-trans;
			max-width: 100%;
			&:hover{
				transform: scale(1.2);
			}
		}
		transform: rotate(90deg);
	}

	&__next {
		max-width: 20px;
		img{
			transition: $default-trans;
			max-width: 100%;
			&:hover{
				transform: scale(1.2);
			}
		}
		transform: rotate(-90deg);
	}
}