.roadmap {

	&__container {
		padding-top: 256px;
		@media (max-width:992px) {
			padding-top: 100px;
		}
		@media (max-width:584px) {
			padding-top: 80px;
		}
		@media (max-width:370px) {
			padding-top: 40px;
		}
	}

	&__title {
		position: relative;
		color: rgb(0, 0, 0);
		font-family: Poppins;
		font-size: 54px;
		font-weight: 600;
		line-height: 140%;
		text-align: center;
		text-transform: capitalize;
		margin-bottom: 40px;
		@media (max-width:735px) {
			font-size: 40px;
		}
	}

	&__items {
		display:  grid;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'q1 q6'
									'q1 q2'
									'q3 q2'
									'q3 q4'
									'q5 q7';
		@media (max-width: 797px) {
			grid-template-columns: 1fr;
			grid-template-areas: 'q1'
									'q2'
									'q3'
									'q4'
									'q5';
		}
	}

	&__item {
		padding: 50px 15px 15px 100px;
		@media (max-width: 954px) {
			padding: 30px 15px 15px 60px;
		}
	}
}
.item-roadmap {
	position: relative;
	&::before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: linear-gradient(to right, #000, #00000000);
	}
	border-right: 1px solid #000;
	@media (max-width:797px) {
		border-right: none;
	}
	@media (max-width:490px) {
		display: flex;
		padding: 20px 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__blur{
		position: absolute;
		top: 0;
		left: 0;
		&::after{
			content: '';
			width: 20px;
			height: 20px;
			position: absolute;
			top: -10px;
			left: -10px;
			border-radius: 50%;
			filter: blur(6px);
			
		}
		&::before{
			content: '';
			z-index: 0;
			width: 100px;
			height: 100px;
			position: absolute;
			top: -50px;
			left: -50px;
			border-radius: 50%;
			filter: blur(35px);
			z-index: 0;
		}
		span{
			position: absolute;
			top: -4px;
			left: -4px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: #000;
			z-index: 10;
		}
		
	}
	&__title {
		color: rgb(0, 0, 0);
		font-family: Wide;
		font-size: 36px;
		font-weight: 600;
		line-height: prc(36, 23);
		text-transform: capitalize;
		@media (max-width:735px) {
			font-size: 26px;
		}
	}
	&__list{
		margin-top: 30px;
		li{
			font-size: 24px;
			position: relative;
			line-height: 150%;
			font-family: Lato;
			font-weight: 400;
			color: rgb(43, 43, 43);
			text-transform: capitalize;
			display: flex;
			align-items: center;
			column-gap: 10px;
			&::before{
				content: '';
				display: inline-block;
				top: 0;
				left: 0;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #000;
				@media (max-width:735px) {
					width: 5px;
					height: 5px;
				}
			}
			@media (max-width:735px) {
				font-size: 18px;
			}
		}
	}
}


.Q1{
	grid-area: q1;
	.item-roadmap__blur{
		&::after{
			background: rgb(133, 160, 255);
		}
		&::before{
			background: rgba(130, 157, 255, 0.5);
		}
	}
}
.Q2{
	grid-area: q2;
	.item-roadmap__blur{
		&::after{
			background: rgb(133, 255, 233);
		}
		&::before{
			background: rgba(125, 255, 216, 0.5);
		}
	}
}
.Q3{
	grid-area: q3;
	.item-roadmap__blur{
		&::after{
			background: rgb(125, 194, 255);
		}
		&::before{
			background: rgba(130, 202, 255, 0.5);
		}
	}
}
.Q4{
	grid-area: q4;
	.item-roadmap__blur{
		&::after{
			background: rgb(132, 168, 255);
		}
		&::before{
			background: rgba(117, 156, 255, 0.5);
		}
	}
}
.Q5{
	grid-area: q5;
	.item-roadmap__blur{
		&::after{
			background: rgb(149, 230, 255);
		}
		&::before{
			background: rgba(120, 255, 255, 0.5);
		}
	}
	border-right: none;
}

.item-roadmap-right{
	.item-roadmap__blur{
		right: -4px;
		left: 100%;
	}
	border-right: none;
	&::before{
		background: linear-gradient(to left, #000, #00000000);
	}
	@media (max-width:797px) {
		display: flex;
		flex-direction: column;
		align-items: end;
		justify-content: start;
	}
	@media (max-width:490px) {
		align-items: center;
		justify-content: center;
	}
}